@import "../../global.scss" .topbar {
  width: 100%;
  height: 70px;
  background-color: #15023a;
  position: fixed;
  top: 0;
  //z index allows top bar to stay visible even when you scroll down the page
  z-index: 2;
}
